[Desktop Entry]
Version=1.0
Name=Basic-Initiative-Tracker
GenericName=Basic-Initiative-Tracker
Comment=A Basic Initiative Tracker for roleplaying
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;